
a:link 
{
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

a:visited 
{
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

a:hover 
{
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

a:active 
{
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

.navbar 
{
    height: 50px;
    font-size: 32px;
  	text-shadow: 3px 3px 1px #4e6258;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.topbutton
{
    margin-left: 45px;
    margin-right: 45px;
    cursor: pointer;
}

.bar 
{
	background-color: #000000;
	height: 16px;
	width: 100%;
}

.barshadow
{
	background-color: #4e6258;
	height: 5px;
	width: 100%;
}

.aboutcontainer
{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.detailscontainer
{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.detailstitle
{
    text-align: center;
    margin-bottom: 20px;
}

.detailsdesc
{
    text-align: center;
    margin-bottom: 20px;
}

body
{
    font-size: 16px;
  	font-family: 'Work Sans', sans-serif;
	
    color: #000000;
    background-color: #6f8c7d;
	
    height: 100vh;
    margin: 0;
	
	-webkit-font-smoothing: antialiased;
}